* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    background-color: orange;
    width: 60%;
    min-width: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.light-container {
    background-color: orange;
}

.dark-container {
   
}