.card-style-1 {
    max-width: 350px;
}

.card-style-1 img {
    background-color: rgb(242, 255, 240);
    width:350px ;
    height:300px ;
    object-fit: cover;
    margin-left: -13px;
}

.card-style-1 a {
text-decoration: none;
color: white;
background-color: green;
position: absolute bottom 0; 
display:flex;
width: 100%;
padding: 25px;
text-align: center;
font-size: 18px;
flex-direction: column;
transition:
    background-color 0.5s,
    color 0.5s
}

.card-style-1 a:hover {
    background-color:azure;
    color: green;
    border: 2px solid black;
}

.card-style-1 {
    text-decoration: none;
    color: black;
    background-color: white;
    width: 120%;
    padding: 10px;
    text-align: center;
    border: 3px solid white;
    text-align: left;
}

.card-style-1 h2 {
    text-align: center;
}