* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color:lightyellow
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

/* Header Styles */
#header a {
    text-decoration: none;
}

#header #me {
    color:rgb(190, 21, 21);
}

#header #tube {
    background-color: rgb(240, 134, 35);
    color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 12px;
}

/* Sidebar Styles */

#sidebar ul {
    margin: 0px;
    padding: 12px 0px;
    list-style-type: none;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul a {
    text-decoration: none;
    color: #a34100;
    padding: 12px;
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#sidebar ul a:hover {
    background-color:rgb(235, 185, 94);
    border-radius: 12px;
}

/* MeTube Items Styles */

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}
 
.metube-item .thumbnail-placeholder {
    border-radius: px;
}

.video-details {
    color  :rgb(153, 39, 4);
    font-weight: 600;
}

.video-channel img {
    border-radius: 30px;
}

.metube-item img {
    border-radius: 20px;
}