#hero-1 {
    background-image: url(../images/joshua-j-cotten-Pzm9LKmGQwk-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h3 {
    font-size: 10vw;
    padding-left:10vw;
    margin-top: 35%;
    color: white;
}

.spacer {
    height: 10vh;
}

#hero-2 h4 {
    margin-bottom: 6vh;
    margin-right: 20vw;
    padding-right:0vw ;

}

#hero-2 a {
    font-size: 2.5vw;
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

    padding: 21px;
    width: 100px;
    margin: 5vh 5vw 10vh 0px;
    border-radius: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#hero-5 {
    background-image: url(../images/chris-charles-MTh5767B1rs-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-5 h3 {
    font-size: 10vw;
    padding-left:10vw;
    margin-top: 35%;
    color: white;
}

.spacer {
    height: 10vh;
}

#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

    padding: 21px;
    width: 100px;
    margin: 5vh 5vw 10vh 0px;
    border-radius: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}




#hero-6 {
    background-image: url(../images/fabrizio-frigeni-DfLemkYDMcs-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-6 h3 {
    font-size: 10vw;
    padding-left:10vw;
    margin-top: 35%;
    color: white;
}

.spacer {
    height: 10vh;
}

#hero-2 h4 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: white;
}

#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

    padding: 21px;
    width: 100px;
    margin: 5vh 5vw 10vh 0px;
    border-radius: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

