body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0;
}

.navbar .logo {
    font-size: 1.5
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    background: url(../images/hero-image.jpg)center center/cover repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 600px;
  
}

.hero {
    background: url(../images/hero-image.jpg) center center/cover no-repeat;
    color: white;
    text-align: center;
}
img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 10px solid rgb(230, 205, 203);
}
@media (max-width: 480px) {
  
    nav a,
    .dropbtn {
      /* display: block; */
      text-align: center;
}
